@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');
* {
    user-select: none;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
}

.content {
    width: 100%;
    height: 100%;
}

.fullscreen {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: table;
}

.fullscreen .text {
    color: #000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3.5em;
}

.description-box {
    background-color: #d8d8da;
    width: 100%;
}

.description {
    width: 68%;
    margin: 0 auto;
    padding: 2% 0;
    font-size: 1.1em;
    font-family: 'Roboto Slab', sans-serif;
}

.description h1 {
    font-size: 1.4em;
    background: -webkit-linear-gradient(left, #5EABFF, #003e80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description p {
    background: -webkit-linear-gradient(left, #5EABFF, #003e80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description a {
    color: #000;
}
.projects {
    width: 100%;
    margin-bottom: 4%;
    font-family: 'Roboto Slab', sans-serif;
}
.projects-inner {
    width: 68%;
    margin: 0 auto;
    padding: 2% 0;
    font-size: 1.1em;
}
.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.project {
    text-align: center;
    width: 30%;
    border: 3px solid linear-gradient(260deg, #f9ff06, #2038ff, #ff2020);

    -moz-background-image: -moz-linear-gradient(260deg, #f9ff06, #2038ff, #ff2020);
    -webkit-background-image: -webkit-linear-gradient(260deg, #f9ff06, #2038ff, #ff2020);
    background-image: linear-gradient(260deg, #f9ff06, #2038ff, #ff2020);

    background-size: 600% 600%;
    background-position: 100% 100%, 100% 0;
    background-repeat: no-repeat;

    -webkit-animation: rainbowfuck 30s ease infinite;
    -moz-animation: rainbowfuck 30s ease infinite;
    animation: rainbowfuck 30s ease infinite;
}
.project h3 {
    margin-top: 15px;
    font-size: 1.3em;
}
.project p {
    margin-bottom: 15px;
}
.project a {
    color: #003e80;
}

/*

ELSE

 */
.wave{
    background: #d8d8da;
    height: 50px;
    position: relative;
}
.wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}
/* SCROLLBAR */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    background-color: #D3E8FF;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #D3E8FF;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #B5D8FF;
}

@-webkit-keyframes rainbowfuck {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rainbowfuck {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rainbowfuck {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
